<!DOCTYPE html>
<html>
    <head>
<% include partials/header%>
    </head>
    <body>
<% include partials/navbar%>

<% 
    function checkRow(bingoSelection, startIndex)
    {
        rowCount = 0;
        for(var i = startIndex; i<startIndex + 5; i++)
        {
            if(bingoSelection[i] == "t")
            {
                rowCount++;
            }
        }
        if(rowCount == 5){
            return 1;
            
        }
        else{
            return 0;
        }
    }
    function checkColumn(bingoSelection, startIndex)
    {
        colCount = 0;
        for(var i = startIndex; i<= 24; i+=5)
        {
            if(bingoSelection[i] == "t")
            {
                colCount++;
            }
        }
        if(colCount == 5){
            return 1;
            
        }
        else{
            return 0;
        }
    }
    function checkDiagonal(bingoSelection, startIndex)
    {
        if(startIndex == 0)
        {
            diagCount = 0;
            for(var i = startIndex; i<5; i++ )
            {
                if(bingoSelection[i*6] == "t")
                {
                    diagCount++;
                }
            }
            
            if(diagCount == 5){
                return 1;
                
            }
            else{
                return 0;
            }
        }
        else
        {
            diagCount = 0;
            for(var i = 0; i<5; i++ )
            {
                if(bingoSelection[startIndex + (i * 5)] == "t")
                {
                    diagCount++;
                }
                startIndex = startIndex - 1;
            }
            
            if(diagCount == 5)
            {
                return 1;
            }
            else{
                return 0;
            }
        }

        
    }

    function addRows(bingoSelection)
    {
        
        var rowOne = checkRow(bingoSelection, 0);
        var rowTwo = checkRow(bingoSelection, 5);
        var rowThree = checkRow(bingoSelection, 10);
        var rowFour = checkRow(bingoSelection, 15);
        var rowFive = checkRow(bingoSelection, 20);
        return rowOne + rowTwo + rowThree + rowFour + rowFive;
    }
    function addColumns(bingoSelection)
    {
        var colOne = checkColumn(bingoSelection, 0);
        var colTwo = checkColumn(bingoSelection, 1);
        var colThree = checkColumn(bingoSelection, 2);
        var colFour = checkColumn(bingoSelection, 3);
        var colFive = checkColumn(bingoSelection, 4);
        
        return colOne+colTwo+colThree+colFour + colFive;
    }
    function addDiagonals(bingoSelection)
    {
        diagOne = checkDiagonal(bingoSelection, 0);
        diagTwo = checkDiagonal(bingoSelection, 4);
        return diagOne + diagTwo;
    }
    
    function totalEntries(bingoSelection)
    {
        var total = addRows(bingoSelection) + addColumns(bingoSelection) + addDiagonals(bingoSelection);
        return(total);
    }
    
    function convertSquaresToArray(string)
    {
        var arr = [];
        for(var i = 0; i<string.length; i++)
        {
            var charAtI = string[i];
            arr.push(charAtI);
        }
        return arr;
    }
    function checkSelection(bingo, num)
    {
        var bingoArr = convertSquaresToArray(bingos[bingo].selectedSquares);
        var style = "";
        
        if(bingoArr[num] == "t")
        {
            style = "selected";
        }
        return style;
    }


%>

<div class="container" style="padding-top:50px;">
    <div class="row">
        <h3>Email List:</h3>
        <% for(var i = 0; i<subs.length; i++){ %>
            <%=subs[i].email%>
        <% } %>
        
    </div>
    <div class="row">
        
        <div class="col-xs-4">
        
        <% for(var i = 0; i<messages.length;i++){ %>
            <%=messages[i].name%><br>
            <%=messages[i].email%><br>
            <%=messages[i].body%>
            <hr>
        <% } %>
        </div>
        <div class="col-xs-8">
            <% for(var i = 0; i<bingos.length; i++){ %>
            
                <p>Bingo Submission from: <%=bingos[i].name%><br>
                Instagram:<%=bingos[i].instagram%><br>
                Number of Rows: <%=addRows(bingos[i].selectedSquares)%><br>
                Number of Columns: <%=addColumns(bingos[i].selectedSquares)%><br>
                Number of Diagonals: <%=addDiagonals(bingos[i].selectedSquares)%><br>
                Total entries for <%=bingos[i].name%>: <%=totalEntries(bingos[i].selectedSquares)%><br></p>
               
                <table>
                    <tr>
                        <td class="<%=checkSelection(i,0)%>"></td>
                        <td class="<%=checkSelection(i,1)%>"></td>
                        <td class="<%=checkSelection(i,2)%>"></td>
                        <td class="<%=checkSelection(i,3)%>"></td>
                        <td class="<%=checkSelection(i,4)%>"></td>
                    </tr>
                    <tr>
                        <td class="<%=checkSelection(i,5)%>"></td>
                        <td class="<%=checkSelection(i,6)%>"></td>
                        <td class="<%=checkSelection(i,7)%>"></td>
                        <td class="<%=checkSelection(i,8)%>"></td>
                        <td class="<%=checkSelection(i,9)%>"></td>
                    </tr>
                    <tr>
                        <td class="<%=checkSelection(i,10)%>"></td>
                        <td class="<%=checkSelection(i,11)%>"></td>
                        <td class="<%=checkSelection(i,12)%>"></td>
                        <td class="<%=checkSelection(i,13)%>"></td>
                        <td class="<%=checkSelection(i,14)%>"></td>
                    </tr>
                    <tr>
                        <td class="<%=checkSelection(i,15)%>"></td>
                        <td class="<%=checkSelection(i,16)%>"></td>
                        <td class="<%=checkSelection(i,17)%>"></td>
                        <td class="<%=checkSelection(i,18)%>"></td>
                        <td class="<%=checkSelection(i,19)%>"></td>
                    </tr>
                    <tr>
                        <td class="<%=checkSelection(i,20)%>"></td>
                        <td class="<%=checkSelection(i,21)%>"></td>
                        <td class="<%=checkSelection(i,22)%>"></td>
                        <td class="<%=checkSelection(i,23)%>"></td>
                        <td class="<%=checkSelection(i,24)%>"></td>
                    </tr>
                </table>
                
                <form action="/bingo/<%=bingos[i]._id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
                
                <hr>
                
            <% } %>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../styles/scripts/dash.js"></script>

</body>
</html>
